@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Open+Sans&family=Roboto");

body {
  background-color: #f7ede2;
  font-family: "Inter Tight", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todos {
  background-color: #84a59d;
  width: 70vw;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

/* form input {
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  border-radius: 10px;
  border: 1px solid white;
  width: 30vw;
} */

th {
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #f6bd60;
  padding-bottom: 0.5rem;
}
.row {
  height: 2.5rem;
}
.dark {
  background-color: #93b8ae;
}
.title {
  font-size: 1rem;
  font-weight: 900;
  padding-left: 1rem;
}
.tableRow {
  width: 100%;
  text-align: left;
}
.tableRow th:first-of-type {
  width: 7rem;
}

.table_button {
  width: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 3px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.done {
  background-color: rgb(103, 167, 103);
}
.button_col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.delete {
  width: 5rem;
  text-align: center;
}
